.about-product {
  position: relative;
  height: 760.5px;
  padding: 100px 0;

  h1 {
    font-family: $secondFont;
    font-size: 82px;
    font-weight: 700;
    color: $dark-purple;
    z-index: 4;
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    height: 760.5px;
    opacity: 0.15;
    z-index: 1;
  }

  &__content {
    position: absolute;
    top: 80px;
    background: $light-purple;
    color: #f1f1f1;
    width: 83.35%;
    padding: 40px;
    max-width: $desktopWidth;

    &-wrapper {
      @include flex-space-btw;
      align-items: center;
    }
  }

  &__list {
    width: 80%;
    margin-right: 70px;
    z-index: 3;

    &_item {
      margin-bottom: 15px;
      list-style-type: square;
      color: #fff;

      &-btn {
        width: 210px;
        height: 50px;
        border-radius: 25px;
        color: $light-purple;
        background-color: $white;
        z-index: 3;
        font-weight: 700;
        font-size: 36px;
        margin-top: 35px;
        @include flex-all-center;
        font-family: $secondFont;

        &:hover {
          background-color: $dark-text;
          cursor: pointer;
        }
      }
    }
  }

  &__img {
    z-index: 5;
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #ddd;
      color: black;
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .about-product {
    position: static;
    height: auto;
    padding: 0;

    h1 {
      margin-bottom: 30px;
    }

    #myVideo {
      display: none;
    }

    .container {
      padding: 0;
    }

    &__content {
      position: static;
      width: 100%;
      margin-right: 0;
      padding: 40px 24px;
    }

    &__list {
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 1420px) {
  .about-product {
    &__content {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .about-product {
    h1 {
      font-size: 52px;
      margin-bottom: 20px;
    }

    .container {
      max-width: 100%;
    }

    &__list {
      width: 100%;
      margin-right: 0;
      padding-left: 15px;
    }

    &__img {
      width: 100%;
      border-radius: 25px;
      padding: 15px;
      @include flex-all-center;
      background-color: $white;
      margin: 30px 0;

      img {
        width: 50%;
      }
    }

    &__content {
      position: static;
      width: 100%;
      padding: 40px 15px 60px;

      &-wrapper {
        flex-direction: column-reverse;
      }
    }
  }
}
