@function rem($px) {
  @return ($px / 16) +rem;
}

@function calcsum($x, $y) {
  @return ($x + $y) + px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-btw {
  display: flex;
  justify-content: space-between;
}

@mixin flex-all-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

@mixin h2-title {
  font-size: $h2-title;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media screen and (max-width: $tabletWidth) {
    font-size: 30px;
  }
}

