.order-form {
  padding-top: 100px;

  .container {
    @include flex-space-btw;
  }

  .order-ads {
    &__subtitle {
      font-size: 2.5rem;
      color: $dark-text;
    }

    &__oldprice {
      text-decoration: line-through;
      font-size: 1.5rem;
      color: $dark-text;
    }

    &__newprice {
      color: $medium-purple;
      font-size: 3rem;
    }
  }

  .info {
    width: 30%;

    &__timeCounter {
      font-size: 2rem;
      color: $medium-purple;
    }
  }

  .form {
    border-radius: 15px;
    background-color: $medium-purple;
    color: $white;
    padding: 20px;
    width: 70%;

    button {
      width: 210px;
      height: 50px;
      border-radius: 25px;
      color: $dark-purple;
      background-color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      margin-top: 35px;

      &:hover {
        color: #fff;
        background-color: $dark-purple;
        cursor: pointer;
      }
    }

    &__row {
      @include flex-col;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      input {
        border-radius: 5px;
        height: 50px;
        padding-left: 15px;
      }
    }

    .info,
    .order-ads {
      @include flex-col;
    }
  }
}

 .anim-text-flow,
 .anim-text-flow-hover:hover {
   $animationSteps: 20;
   $animationDuration: 50;
   $animationElement: span;
   $animationElementsCount: 100;
   $delayBetweenLetters: 0.2;
   font-size: 3rem;
 
   #{$animationElement} {
     animation-name: anim-text-flow-keys;
     animation-duration: #{$animationDuration}s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-fill-mode: forwards;
   }
   @keyframes anim-text-flow-keys {
     @for $i from 0 through $animationSteps {
       #{percentage($i * (1 / $animationSteps))} {
         color: hsla(random(365), 60, 60, 1);
       }
     }
   }
   $totalDelayTime: $animationElementsCount * $delayBetweenLetters;
 
   @for $i from 1 through $animationElementsCount {
     #{$animationElement}:nth-of-type(#{$i}) {
       animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
     }
   }
}
 
@media screen and (max-width: $tabletWidth) {
  .order-form {
    padding-top: 35px;
    .info,
    .form {
      width: 100%;
    }
  }
}

