.image-slider {
	padding: 30px 0 70px 0;

	&__image {
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	&__name {
		color: $medium-purple;
		font-size: 1.3em;
	}

	&__text {
		font-style: italic;
		font-weight: 400;
	}


}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #fff;
	font-size: 80px;
}

/* Пагинация */
.image-slider .swiper-pagination {
	bottom: 30px;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: #fff;
}

